@use '../abstracts/colors' as clr;

.field-box__field.error-field {
  border: 1px solid clr.$primary-red;
}

.field-box__field-input.error-input {
  color: clr.$primary-red;
}

.error-text {
  display: none;
}

.field-box__error-icon.error-icon {
  display: grid;
}
