$fz-base: 1.6rem;

$fz-title: 3.5rem;
$fz-text-mobile: 1.3rem;
$fz-text-desktop: $fz-base;

$ff-poppins: 'Poppins', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
