$fz-base: 1.6rem;

$fz-title-max: 5rem;
$fz-title-min: 3rem;

$fz-text-mobile: 1.3rem;
$fz-text-desktop: 1.8rem;
$fz-text-micro: 1rem;
$fz-error-text: 1.1rem;

$ff-poppins: 'Poppins', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
