@use '../abstracts/typography' as tp;
@use '../abstracts/colors' as clr;

.intro {
  $width-mobile: 37.5rem;
  $width-desktop: 144rem;

  $fz-title: clamp(tp.$fz-title-min, 2.1176rem + 2.3529vw, tp.$fz-title-max);
  $fz-text: clamp(
    tp.$fz-text-mobile,
    1.0353rem + 0.7059vw,
    tp.$fz-text-desktop
  );

  display: grid;
  grid-auto-rows: min-content;
  padding: 5rem 2rem;
  row-gap: 5rem;

  max-width: 375px;
  min-height: 100vh;
  background-image: url('../images/bg-intro-mobile.png');
  background-color: clr.$primary-red;

  &__header {
    display: grid;
    row-gap: 2rem;
    justify-items: center;

    @media (min-width: 62.5em) {
      grid-auto-rows: min-content;
      align-content: center;
    }
  }

  &__body {
    display: grid;
    row-gap: 3rem;
  }

  &__title {
    // <= 300px = 3rem, between 3rem and 4rem ,>= 800px 4rem
    font-size: $fz-title;
    line-height: 1.3;
    color: clr.$primary-white;
    text-align: center;

    @media (min-width: 62.5em) {
      text-align: start;
    }
  }

  &__text {
    color: clr.$primary-white;
    font-size: $fz-text;
    text-align: center;
    max-width: 315px;

    @media (min-width: 62.5em) {
      text-align: start;
      max-width: 100%;
      font-size: tp.$fz-text-mobile;
      letter-spacing: 0.5px;
    }
  }

  @media (min-width: 62.5em) {
    background-image: url('../images/bg-intro-desktop.png');
    max-width: 100vw;

    grid-template-columns: 30vw 30vw;
    justify-content: center;
    column-gap: 10rem;
    align-content: center;
  }
}
