@use '../abstracts/typography' as tp;
@use '../abstracts/colors' as clr;

.signup {
  $signup-row-gap: 2rem;

  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  row-gap: $signup-row-gap;
  box-shadow: 0 5px 5px rgb(0 0 0 / 20%);

  &__form {
    display: grid;
    row-gap: $signup-row-gap;
  }

  &__disclaimer {
    font-size: tp.$fz-text-micro;
    color: clr.$neutral-gray-blue;
    text-align: center;
    max-width: 250px;
    justify-self: center;

    &--asscent {
      color: clr.$primary-red;
      font-weight: tp.$fw-bold;
    }

    @media (min-width: 62.5em) {
      max-width: 100%;
    }
  }

  @media (min-width: 62.5em) {
    padding: 3rem 4rem;
  }
}
